doctype html
html
  meta(charset='utf-8')
  meta(http-equiv='x-ua-compatible', content='ie=edge')
  title Angular Starter
  meta(name='viewport', content='width=device-width, initial-scale=1')

  link(rel='stylesheet', href='css/main.css')

body(ng-controller='AppCtrl')
  md-button.md-raised.md-primary(ng-click='myAction()') Hello

  script(src='app.js')
